<link rel="stylesheet" href="welcome.component.scss">



<div class="content">
  <h2>
    Best Doctors at the Best Hospitals
  </h2>
  <br>
  <h4>Top Speciality</h4>

  <div class="container">
    <div class="box">
      <img src="assets\heart.png">
    </div>
    <div class="box">
      <img src="assets\brain.png">
    </div>
    <div class="box">
      <img src="assets\leg.png">
    </div>
    <div class="box">
      <img src="assets\kidney.png">
    </div>
    <div class="box">
      <img src="assets\nose.png">
    </div>
    <div class="box">
      <img src="assets\cancer.png">
    </div>
    <div class="box">
      <img src="assets\doctor.png">
    </div>
  </div>
</div>
<br>
<br>

<div class="skill-row">
  <h4>About HealthClub</h4>
  <p>HealthClub is an online portal for all your healthcare needs. Our team of medical experts are there for you in every step of the way, from finding the right doctor and hospital to booking appointments, from providing verified information to any king of medical assistance in between. </p>
</div>


<div class=hospital>
  <div class="skill-row">
    <img class="img1" src="assets\3.png" alt="appointment">
    <h4>12 Lakh +</h4>
    <p>Appointment requests received</p>
  </div>
  <div class="skill-row">
    <img class="img1" src="assets\1.png" alt="appointment">
    <h4>9 Lakh +</h4>
    <p>Doctor Appointment booked</p>
  </div>
  <div class="skill-row">
    <img class="img1" src="assets\2.png" alt="appointment">
    <h4>35,000 +</h4>
    <p>Specialists Doctors Available</p>
  </div>
</div>
<div class="hospital1">
  <img src="assets/names.png" />
</div>

<section>
  <h2>Our Facilities</h2>
  <div class="rt-container">
    
      <div class="Scriptcontent">

        <!-- partial:index.partial.html -->
        <div class="container1">
          <img class='photo' src="assets/hospitalFacility.jpg" alt="Image 1" />
          <img class='photo' src="assets/lab.jpg" alt="Image 2" />
          <img class='photo' src="assets/library.png" alt="Image 3" />
          <img class='photo' src="assets/cafeteria.jpg" alt="Image 4" />
          <img class='photo' src="assets/ambulance.jpg" alt="Image 5" />

        </div>

      </div>
    </div>
  
</section>



<section class="grey-bg">
  <div class="container2 services-list">
    <div class="section-title">
      <h3 class="title">
         24 x 7 
        <span> Services</span>
      </h3>
      </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="featured-item">
          <div class="featured-icon inline-block">
            <img src="assets/c.png" class="img-fluid" />
          </div>
          <div class="featured-title">
            <h5> ICU </h5>
          </div>
          <div class="featured-desc">
            <p>Our ICU services are at the core of many our life saving treatments.Patients are monitored around the clock in sterile,infection safe environments</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="featured-item">
          <div class="featured-icon inline-block">
            <img src="assets/a.png" class="img-fluid" />
          </div>
          <div class="featured-title">
            <h5> AMBULANCE </h5>
          </div>
          <div class="featured-desc">
            <p>Our critical care ambulances provide timely and quality pre-hospital emergency care/interhospital transfer for serious and injured patients.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="featured-item">
          <div class="featured-icon inline-block">
            <img src="assets/b.png" class="img-fluid" />
          </div>
          <div class="featured-title">
            <h5> BLOOD BANK </h5>
          </div>
          <div class="featured-desc">
            <p>A fully fledged blood bank (whole blood and blood components) working round the clock to serve you in your time of need.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="featured-item">
          <div class="featured-icon inline-block">
            <img src="assets/d.png" class="img-fluid" />
          </div>
          <div class="featured-title">
            <h5> PHARMACY </h5>
          </div>
          <div class="featured-desc">
            <p>Available around the clock our pharmacy is well stocked with medicines,managed by competent staff with computerized system.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>