.skill-row {
  width: 70%;
  margin: 30px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.con1 {
  width: 10%;
  margin: 50px auto 50px auto;
}
.names{
    width:50%;
}

.img1 {
  width: 10%;
  float: left;
  margin-right: 30px;
  
}
h2 {
  color: #277BC0;
}

.hospital {
  float: left;
  width: 40%;
  margin-left:100px;
  
}
.hospital1 {
 
 margin-left:auto;
  display: flex;
}

.content {
  width: 70%;
  margin: 30px auto 30px auto;
}
.container {
  width: 80%;
  padding: 10px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.box {
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  transition: 1s;
}

.box img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.box:hover {
  transform: scale(1.3);
  z-index: 2;
}


.container1 {
  margin: 50px auto;
  width: 1000px;
  height: 400px;
  overflow: hidden;
  
  position: relative;
}

.photo {
  position: absolute;
  animation: round 12s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

img:nth-child(1) {
  animation-delay: 8s;
}

img:nth-child(2) {
  animation-delay: 12s;
}

img:nth-child(3) {
  animation-delay: 8s;
}

img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 0s;
}



.grey-bg {
  background-color: #f9f9f9;
}
.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  margin-bottom: 50px;
}
.title {
  position: relative;
  color: #e51e1f;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.featured-item {
  padding: 15px;
  position: relative;
}
.featured-item .featured-icon {
  position: relative;
  border: 1px solid transparent;
 
  /* display: inline-block; */
  padding: 7px;
  margin-bottom: 5px;
  text-align: center;
}
.img-fluid {
  width: 40%;
  height: auto;
  
}
h5 {
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 18px;
  color: #e51e1f;
}