<header class="p-3 bg-dark text-white">

  <div class="container">
  
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
  
   <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
  
  </a>
  
  
  
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

  <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQuV9vy18cHhvYLZ_2lQDrQI5-2FYdd3ZL0A&usqp=CAU" width="40" height="40"></li>
  
  <li><a routerLink="welcome" class="nav-link px-2 text-secondary">Home</a></li>
  
  <li><a routerLink="view" class="nav-link px-2 text-secondary">View-Appointment</a></li>
  
  <li><a routerLink="placeappointment" class="nav-link px-2 text-secondary">Place-Appointment</a></li>
  
   <li><a routerLink="query" class="nav-link px-2 text-secondary">Contact Us</a></li>
  
  
   </ul>
  
  
  
  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
  
  <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
  
   </form>
  
  
  
  <div class="text-end">
  
  
  
   </div>
  
  </div>
  
  </div>
  
  </header>
  <router-outlet></router-outlet>
  <div class="container" style="padding-top: 9em;">
  
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      
      <p class="col-md-4 mb-0 text-muted">© 2022 Sai, Inc</p>
      <table style="width:50%;">
  
        <tr>
      
          <th>Useful Links</th>
      
          <th>Contact</th>
      
        </tr>
      
        <tr>
      
          <td>HOME</td>
      
          <td>Company Address</td>
      
        </tr>
      
        <tr>
      
          <td>VIEW APPOINTMENT</td>
      
          <td>Company Name</td>
      
        </tr>
      
        <tr>
      
          <td>BOOK APPOINTMENT</td>
      
          <td>Company Phone</td>
      
        </tr>
      
        <tr>
      
          <td>CONTACT US</td>
      
          <td>Company Fax</td>
      
        </tr>
      
      </table>
  
    </footer>
  </div>
  